.nav-bar {
	display: flex;
	align-items: center;
	padding: 0 1rem;
	@media screen and (min-width: 768px) {
		padding: 0 3.125rem;
	}
	&__brand {
		cursor: pointer;
		display: flex;
		gap: 0.5rem;
		align-items: center;
		margin-right: 2rem;
		@media screen and (min-width: 768px) {
			margin-right: 4rem;
		}
	}

	&__brand-name {
		display: none;
		@media screen and (min-width: 768px) {
			display: block;
			font-size: larger;
		}
	}
	&__logo-container {
		width: 3rem;
		height: 3rem;
	}

	&__menu {
		flex-grow: 1;
	}
	&__profile {
		margin-left: auto;
	}
}
