.register-form {
	height: fit-content;
	width: 60vw;
	max-width: 18.75rem;
	justify-items: center;
	padding: 0.5rem 2rem;
	border-radius: 8px;

	&__logo-container {
		width: 3rem;
		height: 3rem;
		cursor: pointer;
	}

	&__input-container {
		width: 100%;
	}

	&__footer {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		margin-top: 0.5rem;
	}
}
